<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %X{usuario} %5p %c - %m [%t] %n" />
		</layout>
	</appender>

	<appender name="file" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="fw_arquitetura_tu.log" />
		<param name="MaxFileSize" value="5120KB" />
		<param name="MaxBackupIndex" value="1" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %X{usuario} %5p %c - %m [%t] %n" />
		</layout>
	</appender>

	<logger name="org.hibernate">
		<level value="INFO" />
		<appender-ref ref="stdout" />
		<appender-ref ref="file" />
	</logger>

    <logger name="org.hibernate.ejb.Ejb3Configuration">
        <level value="OFF" />
        <appender-ref ref="stdout" />
        <appender-ref ref="file" />
    </logger>

    <logger name="org.hibernate.cfg.annotations.EntityBinder">
        <level value="OFF" />
        <appender-ref ref="stdout" />
        <appender-ref ref="file" />
    </logger>

    <logger name="org.hibernate.cfg.AnnotationBinder">
        <level value="OFF" />
        <appender-ref ref="stdout" />
        <appender-ref ref="file" />
    </logger>

    <logger name="org.hibernate.cfg.annotations.CollectionBinder">
        <level value="OFF" />
        <appender-ref ref="stdout" />
        <appender-ref ref="file" />
    </logger>

    <logger name="org.hibernate.tool.hbm2ddl.TableMetadata">
        <level value="OFF" />
        <appender-ref ref="stdout" />
        <appender-ref ref="file" />
    </logger>

    <logger name="org.hibernate.engine.jdbc.internal.proxy.AbstractResultSetProxyHandler">
        <level value="OFF" />
        <appender-ref ref="stdout" />
        <appender-ref ref="file" />
    </logger>

    <logger name="org.hibernate.type.descriptor.sql.BasicExtractor">
        <level value="OFF" />
        <appender-ref ref="stdout" />
        <appender-ref ref="file" />
    </logger>

    <logger name="org.hibernate.type.BasicTypeRegistry">
        <level value="OFF" />
        <appender-ref ref="stdout" />
        <appender-ref ref="file" />
    </logger>

    <logger name="org.hibernate.ejb.metamodel.AttributeFactory">
        <level value="OFF" />
        <appender-ref ref="stdout" />
        <appender-ref ref="file" />
    </logger>

    <logger name="org.springframework">
        <level value="INFO" />
        <appender-ref ref="stdout" />
        <appender-ref ref="file" />
    </logger>

    <logger name="org.springframework.beans.factory.support.DefaultListableBeanFactory">
        <level value="OFF" />
        <appender-ref ref="stdout" />
        <appender-ref ref="file" />
    </logger>

    <logger name="org.springframework.test">
        <level value="DEBUG" />
        <appender-ref ref="stdout" />
        <appender-ref ref="file" />
    </logger>

    <logger name="org.springframework.jms.connection">
        <level value="OFF" />
        <appender-ref ref="stdout" />
        <appender-ref ref="file" />
    </logger>

    <logger name="org.springframework.transaction.support.TransactionSynchronizationManager">
        <level value="OFF" />
        <appender-ref ref="stdout" />
        <appender-ref ref="file" />
    </logger>

    <logger name="org.springframework.jms.listener">
        <level value="OFF" />
        <appender-ref ref="stdout" />
        <appender-ref ref="file" />
    </logger>

    <logger name="org.springframework.beans.CachedIntrospectionResults">
        <level value="OFF" />
        <appender-ref ref="stdout" />
        <appender-ref ref="file" />
    </logger>

    <logger name="org.springframework.core.env.PropertySourcesPropertyResolver">
        <level value="OFF" />
        <appender-ref ref="stdout" />
        <appender-ref ref="file" />
    </logger>

    <logger name="org.springframework.core.env.SystemEnvironmentPropertySource">
        <level value="OFF" />
        <appender-ref ref="stdout" />
        <appender-ref ref="file" />
    </logger>

    <logger name="org.springframework.context.annotation.ClassPathBeanDefinitionScanner">
        <level value="OFF" />
        <appender-ref ref="stdout" />
        <appender-ref ref="file" />
    </logger>

    <logger name="org.springframework.core.io.support.PathMatchingResourcePatternResolver">
        <level value="OFF" />
        <appender-ref ref="stdout" />
        <appender-ref ref="file" />
    </logger>

    <logger name="org.springframework.util.PropertyPlaceholderHelper">
        <level value="OFF" />
        <appender-ref ref="stdout" />
        <appender-ref ref="file" />
    </logger>

    <logger name="org.apache.activemq">
        <level value="INFO" />
        <appender-ref ref="stdout" />
        <appender-ref ref="file" />
    </logger>

    <root>
        <priority value="INFO" />
        <appender-ref ref="stdout" />
        <appender-ref ref="file" />
    </root>

</log4j:configuration>