<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.afrcode.booksearch">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_book_search"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".BookSearchActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BookDetailActivity"
            android:label="@string/book_details_label"
            android:parentActivityName=".BookSearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BookSearchActivity" />
        </activity>
    </application>

</manifest>