<input type="text" [(ngModel)]="newHobby">
<button (click)="onAddNewHobby()">Add new hobby</button>

<p *ngIf="hobbies.length">New hobbies: {{ hobbies.length }}</p>
<ul>
  <app-addedhobby 
    *ngFor="let hobby of hobbies"
    [hobby]="hobby"
    (hobbyDeleted)="onHobbyDeleted($event)">
  </app-addedhobby>
</ul>

<p *ngIf="deletedHobbies.length">Old hobbies: {{ deletedHobbies.length }}</p>
<ul>
  <app-deletedhobby
    *ngFor="let deletedHobby of deletedHobbies"
    [hobby]="deletedHobby"
    (hobbyReadded)="onHobbyReadded($event)">
  </app-deletedhobby>
</ul>