<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    id="WebApp_ID" version="3.0">

	<display-name>projetoWeb</display-name>

    <!-- ########## 
    #    SECAO: Configuracoes para uso do JSF/RICHFACES 
    ########## -->

    <!--context-param>
        <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
        <param-value>.xhtml</param-value>
    </context-param-->

    <!-- Parametro para controle de nivel de informacoes de depuracao, deve ser alterado em producao. -->
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <!--param-value>Production</param-value-->
        <param-value>Development</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>

    <!-- Faces Servlet -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <!-- FIM Faces Servlet -->

    <!-- Faces Resource Servlet - para recursos estaticos (js, css, jpg, etc.) do proprio Richfaces.-->
    <servlet>
        <servlet-name>Resource Servlet</servlet-name>
        <servlet-class>org.richfaces.webapp.ResourceServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Resource Servlet</servlet-name>
        <url-pattern>/org.richfaces.resources/*</url-pattern>
    </servlet-mapping>
    <!-- FIM Faces Resource Servlet - para recursos estaticos (js, css, jpg, etc.) do proprio Richfaces.-->

    <!-- Resource Mapping - para recursos compactados em producao. -->
    <context-param>
        <param-name>org.richfaces.resourceMapping.enabled</param-name>
        <param-value>true</param-value>
    </context-param>
    <!-- FIM Resource Mapping - para recursos compactados em producao. -->

    <!-- ########## 
    #    FIM SECAO: Configuracoes para uso do JSF/RICHFACES 
    ########## -->

    <!-- ########## 
    #    SECAO: Configuracoes para uso do PrettyFaces. 
    #    Documentação de uso em : http://ocpsoft.org/docs/prettyfaces/3.3.2/en-US/html/
    ########## -->

    <!-- Lista de pacotes onde o PrettyFaces irá procurar por anotações de mapeamentos de URL. -->
    <context-param>
        <param-name>com.ocpsoft.pretty.BASE_PACKAGES</param-name>
        <param-value>br.gov.tcu</param-value>
    </context-param>
    <!--context-param>
        <param-name>com.ocpsoft.pretty.SCAN_LIB_DIRECTORY</param-name>
        <param-value>true</param-value>
    </context-param-->

    <!-- ########## 
    #    FIM SECAO: Configuracoes para uso do PrettyFaces. 
    ########## -->

    <!-- ########## 
    #    SECAO: Configuracoes para uso do SPRING 
    ########## -->

    <!-- Configuracoes para o ContextLoaderListener Spring usar AnnotationConfigWebApplicationContext
       ao inves de XmlWebApplicationContext. -->
    <context-param>
        <param-name>contextClass</param-name>
        <param-value>
            org.springframework.web.context.support.AnnotationConfigWebApplicationContext
        </param-value>
    </context-param>

    <!-- Configuracoes para o contexto Spring: xml OU (EXCLUSIVO) nomes qualificados de classes ou pacotes separados por virgula. -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <!--param-value>/WEB-INF/spring-webapp-context.xml</param-value-->
        <param-value>br.gov.tcu.arquitetura.spring.config.SpringAppConfig</param-value>
    </context-param>
    
    <!-- Configuraçao do profile Spring padrao para producao. Ou seja, somente beans Spring com profile prod serao geridos. -->
    <context-param>
        <param-name>spring.profiles.active</param-name>
        <param-value>aplicacao</param-value>
    </context-param>

    <!-- Bootstrap do Spring. -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!-- FIM Bootstrap do Spring. -->

    <!-- Context Listener para uso de escopos (request, session, global) no Spring. -->
    <listener>
        <listener-class>
            org.springframework.web.context.request.RequestContextListener
        </listener-class>
    </listener>
    <!-- FIM Context Listener para uso de escopos (request, session, global) no Spring. -->
    
    <!-- Context Listener do Spring Security para controle de acesso concorrente a sessão do usuário.
      Permite configurar quantas sessões concorrentes um usuário pode ter. -->
    <listener>
        <listener-class>
            org.springframework.security.web.session.HttpSessionEventPublisher
        </listener-class>
    </listener>
    <!-- FIM Context Listener do Spring Security para controle de acesso concorrente a sessão do usuário. -->

    <!-- ########## 
    #    FIM SECAO: Configuracoes para uso do SPRING 
    ########## -->

    <!-- ########## 
    #    SECAO: FILTROS 
    ########## -->

    <!-- Filtro de configuração do Spring Security. TODO: Definir ordem correta diante do Pretty Filter!!! -->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
 
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Filter p/ reescrita de URLs bookmark-able - REST-ful URLS!!! 
         Documentação de uso em : http://ocpsoft.org/docs/prettyfaces/3.3.2/en-US/html/ -->
    <filter>
        <filter-name>Pretty Filter</filter-name>
        <filter-class>com.ocpsoft.pretty.PrettyFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>Pretty Filter</filter-name> 
        <url-pattern>/*</url-pattern> 
        <dispatcher>FORWARD</dispatcher> 
        <dispatcher>REQUEST</dispatcher> 
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <!-- FIM Filter p/ reescrita de URLs bookmark-able - REST-ful URLS!!!. -->

    <!-- ########## 
    #    FIM SECAO: FILTROS 
    ########## -->

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Web/index.xhtml</welcome-file>
    </welcome-file-list>

    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>
    
    <resource-ref>
        <description>DataSourceDefault</description>
        <res-ref-name>datasources/dataSourceDefault</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    
    <!-- TODO: Verificar necessidade de se registrar referência JNDI a EntityManagerFactory gerida pelo JBoss! Atualmente é desnecessário! -->
    <!--persistence-context-ref>
        <persistence-context-ref-name>persistence/EntityManagerFactory</persistence-context-ref-name>
        <persistence-unit-name>persistenceUnit</persistence-unit-name>
    </persistence-context-ref-->

</web-app>