.noBorders tr, .noBorders td {
    background: none !important;
    border: none !important;
}

.ui-growl {
    position:fixed;
    top:100px;
    right:20px;
}

table.jqplot-table-legend {
	width:15%;
	margin-top:12px;
	margin-bottom:12px;
	margin-left:12px;
	margin-right:12px;
}

table.jqplot-table-legend, table.jqplot-cursor-legend {
	background-color:rgba(255,255,255,0.6);
	border:1px solid #cccccc;
	position:absolute;
	font-size:0.75em;
}

td.jqplot-table-legend {
	word-wrap:break-word;
	white-space:normal;
	vertical-align:middle;
}