<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello World</title>
</head>
<body>
    <h1>Produtos</h1>
    <table>
        <thead>
            <tr>
                <td>Título</td>
                <td>Descrição</td>
                <td>Preço</td>
            </tr>
        </thead>
        <tbody>
            <%for (var i = 0; i < produtos.length; i++) {%>
                <tr>
                    <td><%=produtos[i].titulo%></td>
                    <td><%=produtos[i].descricao%></td>
                    <td><%=produtos[i].preco%></td>
                </tr>
            <%}%>
        </tbody>
    </table>
    <a href="/produtos/inserir">
        <button>Inserir</button>
    </a>
</body>
</html>