<div class="jumbotron">
    <h1 class="text-center">Alurapic</h1>
</div>

<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>

<div class="row">
    <div class="col-md-12">
        <form>
            <div class="input-group">
                <span class="input-group-btn">
                    <a href="fotos/incluir" class="btn btn-primary">Incluir</a>
                </span>
                <input ng-model="filterText" 
                    ng-model-options="{debounce : 500}"
                    class="form-control" 
                    type="text" placeholder="Filtrar...">
            </div>
        </form>
    </div>
</div>

<div class="row">
    <custom-panel class="col-md-2 custom-fade" 
        ng-repeat="foto in fotos | filter: {titulo: filterText}" titulo="{{foto.titulo}}">
        <custom-photo url="{{foto.url}}" titulo="{{foto.titulo}}"></custom-photo>
        <a href="fotos/editar/{{foto._id}}" class="btn btn-primary btn-block">Editar</a>
        <button ng-click="remover(foto)" class="btn btn-danger btn-block">Remover</button>
    </custom-panel>
</div>