<?xml version="1.0" encoding="ISO-8859-1"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <http>
        <intercept-url pattern="/Web/login.xhtml*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/Web/templates/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/javax.faces.resource/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/org.richfaces.resources/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        
        <intercept-url pattern="/**" access="ROLE_USER" />
        
        <!-- TODO: Implementar authentication-failure-handler-ref  para uso de página de erro padrão!-->
        <form-login login-page="/Web/login.xhtml" login-processing-url="/Web/efetuarLogin"
            default-target-url="/Web/index.xhtml" always-use-default-target="false" 
            username-parameter="usernameParameter" password-parameter="passwordParameter" />            
        
        <http-basic />
        
        <!-- TODO: Adequar para uso do SIGA! -->        
        <logout logout-url="/Web/efetuarLogout" logout-success-url="/Web/login.xhtml" />
        
        <!-- Configuracao de numero maximo de sessoes concorrentes de um usuario. -->
        <session-management>
            <concurrency-control max-sessions="1" error-if-maximum-exceeded="true" />
        </session-management>
    </http>
    
    <!-- Extensao para uso de um AuthenticationProvider especifico que provavelmente ira consumir informacoes do SIGA. -->  
    <authentication-manager>
        <authentication-provider ref="daoAuthenticationProvider"/>
    </authentication-manager>
    
    <!-- Anotação @RolesAllowed disponível para beans Spring (@Component, etc.) -->
    <global-method-security jsr250-annotations="enabled" />

</beans:beans>