<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue intro</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="app">

        <input type="text" v-model="newHobby">
        <button v-on:click="addNewHobby">Add new hobby</button>

        <p v-if="hobbies.length">New hobbies: {{ hobbies.length }}</p>
        <ul>
            <added-hobby 
                v-for="hobby in hobbies"
                v-bind:hobby="hobby"
                v-on:hobbydeleted="removeHobby($event)"/>
        </ul>

        <p v-if="deletedHobbies.length">Old hobbies: {{ deletedHobbies.length }}</p>
        <ul>
            <deleted-hobby 
                v-for="deletedHobby in deletedHobbies"
                v-bind:hobby="deletedHobby"
                v-on:readdedhobby="readdHobby($event)"/>
        </ul>
    </div>

    <script>
        Vue.component('added-hobby', {
            props: ['hobby'],
            template: '<li v-on:click="removeHobby">{{ hobby }}</li>',
            methods: {
                removeHobby() {
                    this.$emit('hobbydeleted', this.hobby);
                }
            }
        });

        Vue.component('deleted-hobby', {
            props: ['hobby'],
            template: '<li v-on:click="readdHobby" style="color: red;">{{ hobby }}</li>',
            methods: {
                readdHobby() {
                    this.$emit('readdedhobby', this.hobby);
                }
            }
        });

        new Vue({
            el: '#app',
            data: {
                hobbies: ['Running', 'Dancing', 'Singing'],
                deletedHobbies: [],
                newHobby: ''
            },
            methods: {
                addNewHobby() {
                    this.hobbies.push(this.newHobby);
                    this.newHobby = '';
                },
                removeHobby(hobby) {
                    var i = this.hobbies.indexOf(hobby);
                    this.hobbies.splice(i, 1);
                    this.deletedHobbies.push(hobby);
                },
                readdHobby(deletedHobby) {
                    this.hobbies.push(deletedHobby);
                    var i = this.deletedHobbies.indexOf(deletedHobby);
                    this.deletedHobbies.splice(i, 1);
                }
            }
        });
    </script>
</body>
</html>